
.sectionWrapper {
  padding: 4rem 2rem;
  background-color: #f5f5f5;
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.sectionItem {
  flex-basis: calc(50% - 1rem);
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sectionButton {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border: 1px solid #333; 
  border-radius: 4px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sectionButton:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .sectionContainer {
    flex-direction: column;
  }

  .sectionItem {
    flex-basis: auto;
  }
}
.sectionImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  display: flex;
  gap: 16px;
}

.socialIcon {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.socialIcon:hover {
  color: #ccc;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}